body {
  visibility: hidden
}

.navmargin {
  margin-top: 2em;
}

h2 {
  white-space: normal;
}

ol {
  list-style-type: decimal !important;
  margin-left: 1.5em;
  padding-left: 1em;
}

li::marker {
  color: #fefe54 !important;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
    url('/fonts/JetBrainsMono/webfonts/JetBrainsMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body,
body * {
  font-family: 'JetBrains Mono', monospace;
}
